@using Negocio.Models
@{
    ViewData["Title"] = "Produtos";
}
<h1>@ViewData["Title"]</h1>

<section>
    <div class="input-group mb-3">
  <span class="input-group-text bg-dark" id="basic-addon1"></span>
  <input type="text" class="form-control" placeholder="Nome do Produto" aria-label="NomeProduto" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <span class="input-group-text text-white bg-dark">Descrição Do Produto</span>
  <textarea class="form-control" aria-label="Descricao"></textarea>
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Data de Entrada" aria-label="DataEntrada" aria-describedby="basic-addon2">
  <span class="input-group-text text-white bg-dark" id="basic-addon2">Data de entrada do produto</span>
</div>

<div class="mb-3">
  <div class="input-group">
    <span class="input-group-text text-white bg-dark" id="basic-addon3">Data de validade do produto</span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
</div>

<div class="input-group mb-3">
  <span class="input-group-text text-white bg-dark">Quantidade do Estoque</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
</div>

<div class="input-group mb-3">
<button class="btn btn-dark">Enviar</button>
</div>
</section>

<hr>

<section>
  <table class="table">
  <thead class = "text-white bg-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Descrição</th>
      <th scope="col">Entrada</th>
      <th scope="col">Validade</th>
      <th scope="col">Quantidade</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (Produtos produto in ViewBag.produtos)
    {
      <tr>
        <th scope="row">@produtos.Id</th>
        <td>@produtos.Nome</td>
        <td>@produtos.Descricao</td>
        <td>@produtos.DataCriacao</td>
        <td>@produtos.DataValidade</td>
        <td>@produtos.QuantidadeEstoque</td>
        <td><a href="/produtos/@produtos.Id/editar" class="btn btn-info">Editar</a></td>
        <td><a href="/produtos/@produtos.Id/excluir" class="btn btn-danger">Excluir</a></td>
      </tr>
      
    }
    
  </tbody>
</table>
</section>



